In [1]:
# import bibliotek oraz funkcji

import pandas as pd
import sys
sys.path.append("../utils")
from cleaning  import clean_column_and_save
from load_data import load_data
from remove_nan_columns import remove_nan_columns
from red_flag_analyzer import red_flag_analyzer

In [2]:
df =load_data('../data/raw_data/history.csv')
clean_column_and_save(df)

Dane zapisane w:  ../data/clean_data/before_eda/cleaned_creditcard.csv

,data_transakcji,data_księgowania,dane_kontrahenta,tytuł,nr_rachunku,nazwa_banku,szczegóły,nr_transakcji,kwota_transakcji_(waluta_rachunku),waluta,kwota_blokady/zwolnienie_blokady,waluta_blokady,kwota_płatności_w_walucie,waluta_płatności,konto,saldo_po_transakcji,waluta_salda
0,2019-01-01,2019-01-03,Orlen,Płatność Orlen,PL47525525636630696177023059,mBank,NaN,7979693581,-227.33,PLN,NaN,NaN,NaN,NaN,Wspólne,9772.67,PLN
1,2019-01-01,2019-01-02,Biuro Notarialne,Płatność Biuro Notarialne,PL72634487227183186158541068,ING,NaN,9417345785,-9887.59,PLN,NaN,NaN,NaN,NaN,Konto w EUR,-114.92,PLN
2,2019-01-04,2019-01-04,PokerStars,Płatność PokerStars,PL85502768236074445829791826,Santander,NaN,5125063457,-1169.17,EUR,NaN,NaN,NaN,NaN,Konto w EUR,-1284.09,EUR
3,2019-01-06,2019-01-07,Amazon,Płatność Amazon,PL74448559599291860253081347,mBank,NaN,5746911190,-701.06,USD,NaN,NaN,NaN,NaN,Konto w USD,-1985.15,USD
4,2019-01-10,2019-01-11,Urząd Skarbowy,Płatność Urząd Skarbowy,PL99999005218950489518997577,mBank,NaN,5978957837,-5315.05,PLN,NaN,NaN,NaN,NaN,Konto w USD,-7300.20,PLN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2024-12-28,2024-12-30,Zabka,Płatność Zabka,PL70934520047830579213402922,ING,NaN,8831074656,-175.52,PLN,NaN,NaN,NaN,NaN,Konto w USD,-26395800.12,PLN
996,2024-12-29,2024-12-31,Biuro Notarialne,Płatność Biuro Notarialne,PL23859130239477937721608106,mBank,NaN,3066770841,-8074.19,PLN,NaN,NaN,NaN,NaN,Moje,-26403874.31,PLN
997,2024-12-29,2024-12-30,Firma XYZ,Płatność Firma XYZ,PL68939885076435154439274434,Santander,NaN,3861765594,7181.28,PLN,NaN,NaN,NaN,NaN,Konto w USD,-26396693.03,PLN
998,2024-12-30,2024-12-30,Orlen,Płatność Orlen,PL16971838422072793882927123,PKO BP,NaN,4271371164,-136.30,PLN,NaN,NaN,NaN,NaN,Konto w USD,-26396829.33,PLN
999,2024-12-31,2025-01-01,STS.pl,Płatność STS.pl,PL36840246432843417646384971,ING,NaN,8724235153,-921.46,PLN,NaN,NaN,NaN,NaN,Konto w USD,-26397750.79,PLN

In [3]:
df.head()

,data_transakcji,data_księgowania,dane_kontrahenta,tytuł,nr_rachunku,nazwa_banku,szczegóły,nr_transakcji,kwota_transakcji_(waluta_rachunku),waluta,kwota_blokady/zwolnienie_blokady,waluta_blokady,kwota_płatności_w_walucie,waluta_płatności,konto,saldo_po_transakcji,waluta_salda
0,2019-01-01,2019-01-03,Orlen,Płatność Orlen,PL47525525636630696177023059,mBank,NaN,7979693581,-227.33,PLN,NaN,NaN,NaN,NaN,Wspólne,9772.67,PLN
1,2019-01-01,2019-01-02,Biuro Notarialne,Płatność Biuro Notarialne,PL72634487227183186158541068,ING,NaN,9417345785,-9887.59,PLN,NaN,NaN,NaN,NaN,Konto w EUR,-114.92,PLN
2,2019-01-04,2019-01-04,PokerStars,Płatność PokerStars,PL85502768236074445829791826,Santander,NaN,5125063457,-1169.17,EUR,NaN,NaN,NaN,NaN,Konto w EUR,-1284.09,EUR
3,2019-01-06,2019-01-07,Amazon,Płatność Amazon,PL74448559599291860253081347,mBank,NaN,5746911190,-701.06,USD,NaN,NaN,NaN,NaN,Konto w USD,-1985.15,USD
4,2019-01-10,2019-01-11,Urząd Skarbowy,Płatność Urząd Skarbowy,PL99999005218950489518997577,mBank,NaN,5978957837,-5315.05,PLN,NaN,NaN,NaN,NaN,Konto w USD,-7300.20,PLN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   data_transakcji                     1000 non-null   object
 1   data_księgowania                    1000 non-null   object
 2   dane_kontrahenta                    1000 non-null   object
 3   tytuł                               1000 non-null   object
 4   nr_rachunku                         1000 non-null   object
 5   nazwa_banku                         1000 non-null   object
 6   szczegóły                           0 non-null      float64
 7   nr_transakcji                       1000 non-null   int64
 8   kwota_transakcji_(waluta_rachunku)  1000 non-null   float64
 9   waluta                              1000 non-null   object
 10  kwota_blokady/zwolnienie_blokady    0 non-null      float64
 11  waluta_blokady                      0 non-null      float64
 12  kwota_płatności_w_walucie           0 non-null      float64
 13  waluta_płatności                    0 non-null      float64
 14  konto                               1000 non-null   object
 15  saldo_po_transakcji                 1000 non-null   float64
 16  waluta_salda                        1000 non-null   object
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [5]:
#Usunięcie kolumn, które nie posiadają wartości 

remove_nan_columns(df)
df

,data_transakcji,data_księgowania,dane_kontrahenta,tytuł,nr_rachunku,nazwa_banku,nr_transakcji,kwota_transakcji_(waluta_rachunku),waluta,konto,saldo_po_transakcji,waluta_salda
0,2019-01-01,2019-01-03,Orlen,Płatność Orlen,PL47525525636630696177023059,mBank,7979693581,-227.33,PLN,Wspólne,9772.67,PLN
1,2019-01-01,2019-01-02,Biuro Notarialne,Płatność Biuro Notarialne,PL72634487227183186158541068,ING,9417345785,-9887.59,PLN,Konto w EUR,-114.92,PLN
2,2019-01-04,2019-01-04,PokerStars,Płatność PokerStars,PL85502768236074445829791826,Santander,5125063457,-1169.17,EUR,Konto w EUR,-1284.09,EUR
3,2019-01-06,2019-01-07,Amazon,Płatność Amazon,PL74448559599291860253081347,mBank,5746911190,-701.06,USD,Konto w USD,-1985.15,USD
4,2019-01-10,2019-01-11,Urząd Skarbowy,Płatność Urząd Skarbowy,PL99999005218950489518997577,mBank,5978957837,-5315.05,PLN,Konto w USD,-7300.20,PLN
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2024-12-28,2024-12-30,Zabka,Płatność Zabka,PL70934520047830579213402922,ING,8831074656,-175.52,PLN,Konto w USD,-26395800.12,PLN
996,2024-12-29,2024-12-31,Biuro Notarialne,Płatność Biuro Notarialne,PL23859130239477937721608106,mBank,3066770841,-8074.19,PLN,Moje,-26403874.31,PLN
997,2024-12-29,2024-12-30,Firma XYZ,Płatność Firma XYZ,PL68939885076435154439274434,Santander,3861765594,7181.28,PLN,Konto w USD,-26396693.03,PLN
998,2024-12-30,2024-12-30,Orlen,Płatność Orlen,PL16971838422072793882927123,PKO BP,4271371164,-136.30,PLN,Konto w USD,-26396829.33,PLN
999,2024-12-31,2025-01-01,STS.pl,Płatność STS.pl,PL36840246432843417646384971,ING,8724235153,-921.46,PLN,Konto w USD,-26397750.79,PLN

In [ ]:
df['dane_kontrahenta'].value_counts()

dane_kontrahenta
Firma XYZ                    59
Auto Komis Katowice          59
Vattenfall                   57
ATM ING                      56
Zabka                        55
PokerStars                   53
Allegro                      52
Orlen                        51
Biedronka                    51
Biuro Nieruchomości ZEFIR    50
Urząd Skarbowy               48
Amazon                       48
Santander Leasing            48
Biuro Notarialne             46
STS.pl                       46
Lidl                         46
PKO BP                       46
Booking.com                  45
PGNiG                        45
MediaMarkt                   39
Name: count, dtype: int64

In [6]:
red_flag_analyzer(df)

df

,data_transakcji,data_księgowania,dane_kontrahenta,tytuł,nr_rachunku,nazwa_banku,nr_transakcji,kwota_transakcji_(waluta_rachunku),waluta,konto,saldo_po_transakcji,waluta_salda,red_flag
0,2019-01-01,2019-01-03,Orlen,Płatność Orlen,PL47525525636630696177023059,mBank,7979693581,-227.33,PLN,Wspólne,9772.67,PLN,0
1,2019-01-01,2019-01-02,Biuro Notarialne,Płatność Biuro Notarialne,PL72634487227183186158541068,ING,9417345785,-9887.59,PLN,Konto w EUR,-114.92,PLN,0
2,2019-01-04,2019-01-04,PokerStars,Płatność PokerStars,PL85502768236074445829791826,Santander,5125063457,-1169.17,EUR,Konto w EUR,-1284.09,EUR,1
3,2019-01-06,2019-01-07,Amazon,Płatność Amazon,PL74448559599291860253081347,mBank,5746911190,-701.06,USD,Konto w USD,-1985.15,USD,0
4,2019-01-10,2019-01-11,Urząd Skarbowy,Płatność Urząd Skarbowy,PL99999005218950489518997577,mBank,5978957837,-5315.05,PLN,Konto w USD,-7300.20,PLN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2024-12-28,2024-12-30,Zabka,Płatność Zabka,PL70934520047830579213402922,ING,8831074656,-175.52,PLN,Konto w USD,-26395800.12,PLN,0
996,2024-12-29,2024-12-31,Biuro Notarialne,Płatność Biuro Notarialne,PL23859130239477937721608106,mBank,3066770841,-8074.19,PLN,Moje,-26403874.31,PLN,0
997,2024-12-29,2024-12-30,Firma XYZ,Płatność Firma XYZ,PL68939885076435154439274434,Santander,3861765594,7181.28,PLN,Konto w USD,-26396693.03,PLN,0
998,2024-12-30,2024-12-30,Orlen,Płatność Orlen,PL16971838422072793882927123,PKO BP,4271371164,-136.30,PLN,Konto w USD,-26396829.33,PLN,0
999,2024-12-31,2025-01-01,STS.pl,Płatność STS.pl,PL36840246432843417646384971,ING,8724235153,-921.46,PLN,Konto w USD,-26397750.79,PLN,1

In [7]:
df['dane_kontrahenta'].value_counts()

dane_kontrahenta
Firma XYZ                    59
Auto Komis Katowice          59
Vattenfall                   57
ATM ING                      56
Zabka                        55
PokerStars                   53
Allegro                      52
Orlen                        51
Biedronka                    51
Biuro Nieruchomości ZEFIR    50
Urząd Skarbowy               48
Amazon                       48
Santander Leasing            48
Biuro Notarialne             46
STS.pl                       46
Lidl                         46
PKO BP                       46
Booking.com                  45
PGNiG                        45
MediaMarkt                   39
Name: count, dtype: int64

In [8]:
df['red_flag'].value_counts()

red_flag
0    770
1    230
Name: count, dtype: int64